<div class="flex flex-col w-full">

    <!-- Header -->
    <div class="relative w-full h-20 sm:h-20 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700">
        <!-- Background -->
             <img
                class="absolute inset-0 object-cover w-full h-full"
                src="assets/images/cards/28-640x480.jpg">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
            <a
                mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['../']">
                <mat-icon
                    class="text-white"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>

    <!-- Contact -->
    <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
        <div class="w-full max-w-3xl">

            <!-- Avatar and actions -->
            <div class="flex flex-auto items-end -mt-16">
                <!-- Avatar -->
                <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <img
                        class="object-cover w-full h-full"
                        [src]="artist.picture_medium">
                </div>
            </div>

            <!-- Name -->
            <div class="mt-8 text-4xl font-bold truncate">{{artist.name}}</div>

            <!-- Tags -->
                <div class="flex flex-wrap items-center mt-2">
                    
                        <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                            <span class="text-sm font-medium whitespace-nowrap">{{artist.type}}</span>
                        </div>
                </div>

            <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:user-group"></mat-icon>
                        <div class="ml-6 leading-6 font-semibold">Number of Fans: <span class="font-semibold">{{artist.nb_fan | number}}</span></div>
                    </div>

                    <div class="flex sm:items-center">
                        <mat-icon svgIcon="heroicons_outline:adjustments"></mat-icon>
                        <div class="ml-6 leading-6">Number of Albums: <span class="font-semibold">{{artist.nb_album | number}}</span></div>
                    </div>

                <!-- Artist Tracks -->
                <ng-container *ngIf="artistTracks?.length">
                    <div class="flex items-center justify-between">
                        <div class="text-2xl font-semibold leading-tight">Top 5 Tracks</div>
                    </div>
                    <div class="flex flex-col mt-5">
            
                            <ng-container *ngFor="let track of artistTracks; trackBy: trackByFn">
                                <div class="flex">
                                    <mat-icon class="icon-size-8" svgIcon="album"></mat-icon>
                                    <div class="flex flex-col min-w-0 ml-6">
                                        <div class="leading-tight">Title &bull; {{track.title_short}}</div>
                                        <div class="leading-tight">Artist &bull; {{track.artist.name}}</div>
                                        <div class="text-md leading-none text-secondary mt-2">Album &bull; {{track.album.title}}</div>
                                    </div>
                                </div>
                                <hr class="w-full border-t my-6">
                            </ng-container>
                        
                    </div>
                </ng-container>

            </div>

        </div>
    </div>
</div>
